# Notebench Code Owners
*                       @harzhtiwari
/.github/               @harzhtiwari
/deploy/                @harzhtiwari
/scripts/               @harzhtiwari
/packages/contracts/    @harzhtiwari
